{% extends "base.html.twig" %}

{% block body %}

    <div class="section container">
        {% if posts %}
            {% for post in posts %}

                <article class="message container">
                    <div class="message-header">
                        {{ post.title }}
                    </div>
                    <div class="message-body">
                        <div>{{ post.body }}</div>
                        <div class="level">
                            <p>
                                <a href="/posts/{{ post.id }}/edit" class="button is-warning">Edit</a>
                                <a href="/posts/{{ post.id }}/delete"
                                   class="button is-danger"
                                   onclick="return confirm('Are you sure you want to delete this post?');">
                                    Delete
                                </a>
                            </p>
                        </div>
                    </div>
                </article>

                <div class="is-clearfix"></div>

            {% endfor %}
        {% else %}
            <p>You haven't posted yet! <a href="/posts/new">Post something</a></p>
        {% endif %}
    </div>

{% endblock %}