{% extends "base.html.twig" %}

{% block body %}

    <div class="section container">
        {% if posts %}
            {% for post in posts %}

                <article class="message container">
                    <div class="message-header">
                        {{ post.title }}
                    </div>
                    <div class="message-body">
                        <div>{{ post.body }}</div>
                        <div><a href="/posts/{{ post.id }}">Read More</a></div>
                    </div>
                </article>

            {% endfor %}
        {% else %}
            <p>There are no posts! <a href="/posts/new">Be the first to post something</a></p>
        {% endif %}
    </div>

{% endblock %}